<div style="padding: 15px; overflow: hidden">
    <form id="ui_debugLogBlackList_addform" method="post" action="">
        <table class="tableForm" width="100%">
            <tr>
                <th>
                    SystemCode：
                </th>
                <td>
                    <input type="text" name="SystemCode" id="SystemCode" />
                </td>
            </tr>
            <tr>
                <th>
                    Source：
                </th>
                <td>
                    <input type="text" name="Source" id="Source" />
                </td>
            </tr>
            <tr>
                <th>
                    MachineName：
                </th>
                <td>
                    <input type="text" name="MachineName" id="MachineName" />
                </td>
            </tr>
            <tr>
                <th>
                    IpAddress：
                </th>
                <td>
                    <input type="text" name="IpAddress" id="IpAddress" />
                </td>
            </tr>
            <tr>
                <th>
                    ClientIp：
                </th>
                <td>
                    <input type="text" name="ClientIp" id="ClientIp" />
                </td>
            </tr>
            <tr>
                <th>
                    AppdomainName：
                </th>
                <td>
                    <input type="text" name="AppdomainName" id="AppdomainName" />
                </td>
            </tr>
            <tr>
                <th>
                    Message：
                </th>
                <td>
                    <input type="text" name="Message" id="Message" />
                </td>
            </tr>
            <tr>
                <th>
                    是否为正则表达式：
                </th>
                <td>
                    <input type="checkbox" name="IsRegex" id="IsRegex" checked="checked" />
                </td>
            </tr>
        </table>
    </form>
</div>