<div id="ui_operatelog_layout" class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false, title:''">
        <table id="ui_operatelog_dg" data-options="fit:true,border:false"></table>
    </div>
    <div data-options="region:'east',split:true,border:true,collapsed:true" title="多条件过滤"
         style="width: 280px;">
        <div id="ui_operatelog_search">
            <table class="tableForm" style="width: 100%; height: 100%; background: #F5F5F5;">
                <tr>
                    <th>
                        SystemCode：
                    </th>
                    <td>
                        <input type="text" name="ui_operatelog_systemCode" id="ui_operatelog_systemCode" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Source：
                    </th>
                    <td>
                        <input type="text" name="ui_operatelog_source" id="ui_operatelog_source" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        OperateModule：
                    </th>
                    <td>
                        <input type="text" name="ui_operatelog_operateModule" id="ui_operatelog_operateModule" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        OperateType：
                    </th>
                    <td>
                        <input type="text" name="ui_operatelog_operateType" id="ui_operatelog_operateType" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        UserId：
                    </th>
                    <td>
                        <input type="text" name="ui_operatelog_userId" id="ui_operatelog_userId" autocomplete="off" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        UserName：
                    </th>
                    <td>
                        <input type="text" name="ui_operatelog_userName" id="ui_operatelog_userName" autocomplete="off" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        OperatedTime：
                    </th>
                    <td>
                        <input name="ui_operatelog_operatedTimeStart" id="ui_operatelog_operatedTimeStart" class="easyui-datetimebox"
                               editable="false" style="width: 140px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        至：
                    </th>
                    <td>
                        <input name="ui_operatelog_operatedTimeEnd" id="ui_operatelog_operatedTimeEnd" class="easyui-datetimebox"
                               editable="false" style="width: 140px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                           onclick="ui_operatelog_searchdata();">搜索</a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-clear" plain="true"
                           onclick="ui_operatelog_cleardata();">清空条件</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@if (false)
{
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
}

<script type="text/javascript">
    $(function () {
        //默认加载所有操作日志
        GetAllOperateLogs();

        //智能提示
        InitAutoComplete();
    });

    //初始化智能提示
    function InitAutoComplete() {
        var systemCodes = {};
        var sources = {};
        var operateModules = {};
        var operateTypes = {};
        $.post('@Url.Action("GetAutoCompleteData", "OperateLog")', function (data) {
            if (data.success) {
                systemCodes = $.parseJSON(data.systemCodes);
                sources = $.parseJSON(data.sources);
                operateModules = $.parseJSON(data.operateModules);
                operateTypes = $.parseJSON(data.operateTypes);
                $("#ui_operatelog_systemCode").autocomplete({ source: systemCodes });
                $("#ui_operatelog_source").autocomplete({ source: sources });
                $("#ui_operatelog_operateModule").autocomplete({ source: operateModules });
                $("#ui_operatelog_operateType").autocomplete({ source: operateTypes });
            }
            else {
                $.show_warning("提示", "初始化智能提示失败!");
            }
        });
    };

    //刷新智能提示
    function operatelog_refresh_operatelog_tip() {
        $.post('@Url.Action("RefreshOperateLogTip", "OperateLog")', function (data) {
            if (data.success) {
                $.show_warning("提示", "刷新操作日志智能提示成功!");
            }
            else {
                $.show_warning("提示", "刷新操作日志智能提示失败!");
            }
        });
    };

    //清空查询条件
    function ui_operatelog_cleardata() {
        $('#ui_operatelog_search input').val('');
        $('#ui_operatelog_search select').val('select');
        $("#ui_operatelog_dg").datagrid('load', {});
        $("#ui_operatelog_dg").datagrid('clearSelections').datagrid('clearChecked');//刷新并清除已选择
    };

    //查询
    function ui_operatelog_searchdata() {
        $("#ui_operatelog_dg").datagrid('load', {
            SystemCode: $('#ui_operatelog_search').find('[name=ui_operatelog_systemCode]').val(),
            Source: $('#ui_operatelog_search').find('[name=ui_operatelog_source]').val(),
            UserId: $('#ui_operatelog_search').find('[name=ui_operatelog_userId]').val(),
            UserName: $('#ui_operatelog_search').find('[name=ui_operatelog_userName]').val(),
            OperateModule: $('#ui_operatelog_search').find('[name=ui_operatelog_operateModule]').val(),
            OperateType: $('#ui_operatelog_search').find('[name=ui_operatelog_operateType]').val(),
            OperatedTimeStart: $('#ui_operatelog_operatedTimeStart').datetimebox('getValue'),
            OperatedTimeEnd: $('#ui_operatelog_operatedTimeEnd').datetimebox('getValue')
        });
        $("#ui_operatelog_dg").datagrid('clearSelections').datagrid('clearChecked');//刷新并清除已选择
    };

    //默认加载所有操作日志
    function GetAllOperateLogs() {
        $.ajax({
            url: '@Url.Action("GetButtonsByUserIdAndMenuCode", "Organization")',
            type: "POST",
            dataType: "json",
            data: { "menuCode": "operatelog", "pageName": "operatelog" },
            timeout: 5000,
            success: function (data) {
                if (data.success) {
                    var oldSelectRoleId;
                    var toolbar = getToolBar(data);
                    if (data.browser) {
                        $("#ui_operatelog_dg").datagrid({
                            url: '@Url.Action("GetPagingOperateLogs", "OperateLog")',
                            striped: true,
                            rownumbers: true,
                            pagination: true,
                            pageSize: 20,
                            singleSelect: true,
                            nowrap: false,
                            idField: 'Id',
                            sortName: 'CreatedTime',
                            sortOrder: 'desc',
                            pageList: [10, 20, 40, 60, 80, 100],
                            columns: [[
                                        {
                                            field: 'Id', title: 'Id', sortable: true, width: 80,
                                            formatter: function (value, row, index) {
                                                //生成a链接，点击打开日志详情
                                                return '<a href="' + row.DetailUrl + '" target="_blank">' + value + '</a>';
                                            }
                                        },
                                        { field: 'CreatedTime', title: 'CreatedTime', sortable: true, width: 160 },
                                        { field: 'SystemCode', title: 'SystemCode', sortable: true, width: 100 },
                                        { field: 'Source', title: 'Source', sortable: true, width: 120 },
                                        { field: 'IpAddress', title: 'IpAddress(服务器)', sortable: true, width: 120 },
                                        { field: 'ClientIp', title: 'IpAddress(客户端)', sortable: true, width: 120 },
                                        { field: 'OperatedTime', title: 'OperatedTime', sortable: true, width: 160 },
                                        { field: 'UserId', title: 'UserId', sortable: true, width: 120 },
                                        { field: 'UserName', title: 'UserName', sortable: true, width: 120 },
                                        { field: 'OperateModule', title: 'OperateModule', sortable: true, width: 120 },
                                        { field: 'OperateType', title: 'OperateType', sortable: true, width: 120 }
                            ]],
                            toolbar: toolbar.length == 0 ? null : toolbar
                        });
                    }
                    else {
                        $.show_warning("提示", "无权限，请联系管理员！");
                    }
                } else {
                    $.show_warning("错误", data.result);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (textStatus == "timeout") {
                    $.show_warning("提示", "请求超时，请刷新当前页重试！");
                }
                else {
                    $.show_warning("错误", textStatus + "：" + errorThrown);
                }
            }
        })

        //回车搜索
        $("#ui_operatelog_search").find('input').on('keyup', function (event) {
            if (event.keyCode == '13') {
                ui_operatelog_searchdata();
            }
        })
    };

</script>