
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $("#btnClearCache").live("click", function () {
            //ajax post
            $.post('@Url.Action("ClearAllCache", "Test")', function (data) {
                if (data.success) {
                    $("#lblClearCacheResult").text("清除全部缓存成功!");
                }
                else {
                    $("#lblClearCacheResult").text("清除失败，请重试!");
                }
            });
        });

    </script>

</head>
<body>
    <!--缓存清理-->
    <div class="divClearCache">
        <h2>缓存清理</h2>
        <input type="button" id="btnClearCache" name="btnClearCache" value="清除全部缓存" />
        <label id="lblClearCacheResult" style="color:red"></label>
    </div>
</body>
</html>
