
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jQuery UI测试</title>
    <link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Scripts/easyui-1.3.2/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-1.3.2/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        $(function () {
            var availableTags = [
              "ActionScript",
              "AppleScript",
              "Asp",
              "BASIC",
              "C",
              "C++",
              "Clojure",
              "COBOL",
              "ColdFusion",
              "Erlang",
              "Fortran",
              "Groovy",
              "Haskell",
              "Java",
              "JavaScript",
              "Lisp",
              "Perl",
              "PHP",
              "Python",
              "Ruby",
              "Scala",
              "Scheme"
            ];
            $("#date").autocomplete({
                source: availableTags
            });
        });

    </script>

</head>
<body>
    <div> 
        <input type="text" name="date" id="date" />
    </div>
</body>
</html>
