<div style="padding: 15px; overflow: hidden">
    <form id="ui_menu_setbuttonform" method="post" action="">
        <div class="setButton">
            <input type="checkbox" id="chkSelectAll" />全选
            <ul id="btnList"></ul>
        </div>
    </form>
</div>