<div style="padding: 15px; overflow: hidden">
    <form id="ui_errorLogBlackList_addform" method="post" action="">
        <table class="tableForm" width="100%">
            <tr>
                <th>
                    关键字：
                </th>
                <td>
                    <input type="text" name="KeyWord" id="KeyWord" />
                </td>
            </tr>
        </table>
    </form>
</div>