<div id="ui_perflog_layout" class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false, title:''">
        <table id="ui_perflog_dg" data-options="fit:true,border:false"></table>
    </div>
    <div data-options="region:'east',split:true,border:true,collapsed:true" title="多条件过滤"
         style="width: 280px;">
        <div id="ui_perflog_search">
            <table class="tableForm" style="width: 100%; height: 100%; background: #F5F5F5;">
                <tr>
                    <th>
                        SystemCode：
                    </th>
                    <td>
                        <input type="text" name="ui_perflog_systemCode" id="ui_perflog_systemCode" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Source：
                    </th>
                    <td>
                        <input type="text" name="ui_perflog_source" id="ui_perflog_source" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        ClassName：
                    </th>
                    <td>
                        <input type="text" name="ui_perflog_className" id="ui_perflog_className" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        MethodName：
                    </th>
                    <td>
                        <input type="text" name="ui_perflog_methodName" id="ui_perflog_methodName" style="width: 130px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        CreatedTime：
                    </th>
                    <td>
                        <input name="ui_perflog_createdTimeStart" id="ui_perflog_createdTimeStart" class="easyui-datetimebox"
                               editable="false" style="width: 140px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        至：
                    </th>
                    <td>
                        <input name="ui_perflog_createdTimeEnd" id="ui_perflog_createdTimeEnd" class="easyui-datetimebox"
                               editable="false" style="width: 140px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                           onclick="ui_perflog_searchdata();">搜索</a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-clear" plain="true"
                           onclick="ui_perflog_cleardata();">清空条件</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@if (false)
{
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
}

<script type="text/javascript">
    $(function () {
        //默认加载所有日志
        GetAllLogs();

        //智能提示
        InitAutoComplete();
    });

    //初始化智能提示
    function InitAutoComplete() {
        var systemCodes = {};
        var sources = {};
        var classNames = {};
        var methodNames = {};
        $.post('@Url.Action("GetAutoCompleteData", "PerformanceLog")', function (data) {
            if (data.success) {
                systemCodes = $.parseJSON(data.systemCodes);
                sources = $.parseJSON(data.sources);
                classNames = $.parseJSON(data.classNames);
                methodNames = $.parseJSON(data.methodNames);
                $("#ui_perflog_systemCode").autocomplete({ source: systemCodes });
                $("#ui_perflog_source").autocomplete({ source: sources });
                $("#ui_perflog_className").autocomplete({ source: classNames });
                $("#ui_perflog_methodName").autocomplete({ source: methodNames });
            }
            else {
                $.show_warning("提示", "初始化智能提示失败!");
            }
        });
    };

    //刷新智能提示
    function perflog_refresh_perflog_tip() {
        $.post('@Url.Action("RefreshPerfLogTip", "PerformanceLog")', function (data) {
            if (data.success) {
                $.show_warning("提示", "刷新性能日志智能提示成功!");
            }
            else {
                $.show_warning("提示", "刷新性能日志智能提示失败!");
            }
        });
    };

    //清空查询条件
    function ui_perflog_cleardata() {
        $('#ui_perflog_search input').val('');
        $('#ui_perflog_search select').val('select');
        $('#CreatedTimeStart').datetimebox('setValue', '');
        $('#CreatedTimeEnd').datetimebox('setValue', '');
        $("#ui_perflog_dg").datagrid('load', {});

        $("#ui_perflog_dg").datagrid('clearSelections').datagrid('clearChecked');//刷新并清除已选择
    };

    //查询
    function ui_perflog_searchdata() {
        $("#ui_perflog_dg").datagrid('load', {
            SystemCode: $('#ui_perflog_search').find("input[name='ui_perflog_systemCode']").val(),
            Source: $('#ui_perflog_search').find("input[name='ui_perflog_source']").val(),
            ClassName: $('#ui_perflog_search').find("input[name='ui_perflog_className']").val(),
            MethodName: $('#ui_perflog_search').find("input[name='ui_perflog_methodName']").val(),
            CreatedTimeStart: $('#ui_perflog_createdTimeStart').datetimebox('getValue'),
            CreatedTimeEnd: $('#ui_perflog_createdTimeEnd').datetimebox('getValue')
        });
        $("#ui_perflog_dg").datagrid('clearSelections').datagrid('clearChecked');//刷新并清除已选择
    };

    //默认加载所有日志
    function GetAllLogs() {
        $.ajax({
            url: '@Url.Action("GetButtonsByUserIdAndMenuCode", "Organization")',
            type: "POST",
            dataType: "json",
            data: { "menuCode": "perflog", "pageName": "perflog" },
            timeout: 5000,
            success: function (data) {
                if (data.success) {
                    var oldSelectRoleId;
                    var toolbar = getToolBar(data);
                    if (data.browser) {
                        $("#ui_perflog_dg").datagrid({
                            url: '@Url.Action("GetPagingPerformanceLogs", "PerformanceLog")',
                            striped: true,
                            rownumbers: true,
                            pagination: true,
                            pageSize: 40,
                            singleSelect: true,
                            nowrap: false,
                            idField: 'Id',
                            sortName: 'CreatedTime',
                            sortOrder: 'desc',
                            pageList: [10, 20, 40, 60, 80, 100],
                            columns: [[
                                        {
                                            field: 'Id', title: 'Id', sortable: true, width: 80,
                                            formatter: function (value, row, index) {
                                                //生成a链接，点击打开日志详情
                                                return '<a href="' + row.DetailUrl + '" target="_blank">' + value + '</a>';
                                            }
                                        },
                                        { field: 'CreatedTime', title: 'CreatedTime', sortable: true, width: 160 },
                                        { field: 'SystemCode', title: 'SystemCode', sortable: true, width: 100 },
                                        { field: 'Source', title: 'Source', sortable: true, width: 120 },
                                        { field: 'ClassName', title: 'ClassName', sortable: true, width: 120 },
                                        { field: 'MethodName', title: 'MethodName', sortable: true, width: 120 },
                                        { field: 'MethodCName', title: 'MethodCName', sortable: true, width: 120 },
                                        { field: 'IpAddress', title: 'IpAddress(服务器)', sortable: true, width: 120 },
                                        { field: 'ClientIp', title: 'IpAddress(客户端)', sortable: true, width: 120 },
                                        { field: 'MachineName', title: 'MachineName', sortable: true, width: 150 },
                                        { field: 'DurationToStringN', title: 'Duration(单位:ms)', sortable: true, width: 120 },
                                        { field: 'Remark', title: 'Remark', sortable: true, width: 120 }
                            ]],
                            toolbar: toolbar.length == 0 ? null : toolbar
                        });
                    }
                    else {
                        $.show_warning("提示", "无权限，请联系管理员！");
                    }
                } else {
                    $.show_warning("错误", data.result);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (textStatus == "timeout") {
                    $.show_warning("提示", "请求超时，请刷新当前页重试！");
                }
                else {
                    $.show_warning("错误", textStatus + "：" + errorThrown);
                }
            }
        })

        //回车搜索
        $("#ui_perflog_search").find('input').on('keyup', function (event) {
            if (event.keyCode == '13') {
                ui_perflog_searchdata();
            }
        })
    };

</script>